#main-wrapper {
  text-align: center;
  background-color: #4b7f52;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 100vh;
}

p {
  font-size: 1.5rem;
  margin: 2rem 0;
  display: inline-block;
  padding: 0.2rem;
  color: white;
}
#times {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.parameter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 30%;
  min-height: 40vh;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #774936;
  font-size: 1.5rem;
  color: #e9d758;
}
.session-label,
.break-label {
  font-size: 3rem;
}

#title {
  margin: 0;
  padding: 1rem;
  color: #c5ed65;
  font-size: 5rem;
}
#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
  font-size: 4rem;
  transition: 0.2s;
}
#break-increment:hover,
#break-decrement:hover,
#session-increment:hover,
#session-decrement:hover {
  color: #2efd96;
  cursor: pointer;
}
#session-length,
#break-length {
  font-size: 3rem;
}
#timer-label {
  margin: 0 auto;
  padding: 1rem;
  color: white;
  font-size: 3rem;
  background-color: #6e4b40;
}
.picker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #EC7505;
}
#time-left {
  font-size: 5rem;
  color: black;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
}

.start-stop {
  padding: 1rem;
  background: #EC7505;
  transition: 0.2s all ease-in;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
button:hover {
  background-color: #4a9e74;
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.timer-wrapper {
  color: white;
  width: 30%;
  padding: 2rem;
  background-color: #c5ed65;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media (max-width: 1028px) {
  #times {
    flex-wrap: wrap;
  }
  .parameter {
    width: 100%;
    margin: 2rem;
  }
  .timer-wrapper {
    width: 100%;
  }
}
