#main-wrapper {
  text-align: center;
  background-color: rgb(194, 248, 221);
  margin: 0 auto;
  padding: 0 10px;
  max-height: 100vh;
}
#times {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
}
.parameter {
  width: 35rem;
  padding: 2em;
  text-align: center;
  margin: 0 1rem;
  background: rgb(201, 126, 71);
  background: radial-gradient(
    circle,
    rgba(201, 126, 71, 1) 0%,
    rgba(242, 234, 196, 1) 18%,
    rgba(170, 190, 76, 1) 86%
  );
  border-radius: 50%;
  border: black solid 5px;
  color: #6e4b40;
}
.session-label,
.break-label {
  font-size: 3rem;
}
/* .parameter:after {
  width: 38%;
  position: absolute;
  border: green solid 5px;
  top: 10px;
  display: block;
} */
#title {
  margin: 0;
}
#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
  font-size: 4rem;
  transition: 0.2s;
}
#break-increment:hover,
#break-decrement:hover,
#session-increment:hover,
#session-decrement:hover {
  color: #9e8452;
  cursor: pointer;
}
#session-length,
#break-length {
  font-size: 3rem;
}
#timer-label {
  margin: 0.5rem auto;
}
.picker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#time-left {
  font-size: 5rem;
}
#buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
  width: 100%;
}
.start-stop {
  padding: 2rem;
  background: rgb(201, 126, 71);
  background: radial-gradient(
    circle,
    rgba(201, 126, 71, 1) 0%,
    rgba(242, 234, 196, 1) 26%,
    rgba(170, 190, 76, 1) 100%
  );
  border: black solid 5px;
  transition: 0.3s;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.5rem;
}
button:hover {
  background-color: #4a9e74;
  color: white;
  cursor: pointer;
}
