#main-wrapper {
  text-align: center;
  background-image: url("./avocado_kawaii.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

p {
  font-size: 1.5rem;
  margin: 0;
  background-color: #52f7a4;
  display: inline-block;
  padding:.2rem;
}
#times {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.parameter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 25rem;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0 2rem;
  background-color: #c5ed65;
  font-size: 1.5rem;
}
.session-label,
.break-label {
  font-size: 3rem;
}

#title {
  margin: 0;
  margin: 1rem auto;
  padding: 1rem;
  display: inline-block;
  background: #52f7a4;

  border: black solid 5px;
  color: #6e4b40;
}
#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
  font-size: 4rem;
  transition: 0.2s;
}
#break-increment:hover,
#break-decrement:hover,
#session-increment:hover,
#session-decrement:hover {
  color: #2efd96;
  cursor: pointer;
}
#session-length,
#break-length {
  font-size: 3rem;
}
#timer-label {
  margin: 0 auto;
  padding: 1rem 0 0.25rem;
  color: white;
  font-size: 3rem;
  background-color: #6e4b40;
}
.picker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#time-left {
  font-size: 10rem;
  color: black;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
}
.start-stop {
  padding: 2rem;
  background: #2efd96;
  margin: 0 2rem;
  transition: 0.2s;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
button:hover {
  background-color: #4a9e74;
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.timer-wrapper {
  color: white;
  width: 35rem;
  padding: 3rem;
  margin: 0 auto;
  background-color: #c5ed65;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
